<div class="form-group">
  <label class="col-sm-2 control-label">Laboratório:</label>
  <div class="col-sm-2">
    <select name="laboratorio" class="form-control">
      <option value="{{laboratorio.id}}">{{laboratorio.nome}}</option>
    </select>
  </div>
</div>
