<div>
  <h4>Criar novo grupo centro custo</h4>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <LinkTo @route="grupo_centro_custos/new" class="btn btn-success">Nova grupo centro custo</LinkTo>
    </div>
  </div>
</div>
{{!- TODO: Tables must have a table group (thead, tbody or tfoot). -}}
{{!- TODO: ember-template-lint(table-groups)  -}}
<table class="table table-stripped">
  <thead>
    <th>ID</th>
    <th>Nome</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
  {{#each @model as |marca|}}
    <tr>
      <td>{{marca.id}}</td>
      <td>{{marca.nome}}</td>
      <td>
        <LinkTo @route="grupo_centro_custos/edit" @model={{@grupo_centro_custo}} class="btn btn-primary">Editar</LinkTo>
        {{!- TODO: Do not use `action` Instead, use the `on` modifier and `fn` helper. -}}
        {{!- TODO: ember-template-lint(no-action) -}}
        <button type="submit" class="btn btn-primary" {{on "click" (fn this.delete @grupo_centro_custo)}}>Excluir</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
