<ul class="nav">
  <li class="nav-item nav-category">
    <span class="nav-link">GENERAL</span>
  </li>
  {{#each menuItems as |menuItem|}}
  <li class="nav-item">
    {{#link-to menuItem.route class="nav-link"}}
      <span class="menu-title">{{menuItem.label}}</span>
      <i class="{{menuItem.icon}} menu-icon"></i>
    {{/link-to}}
  </li>
  {{/each}}
</ul>
{{yield}}
