<!-- # https://github.com/martndemus/ember-form-for --!>
<FormFor this.model as |f|>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-6">
        <f.select-field "unidade_medidas"/>
        <f.select-field "categoria_produtos"/>
        <f.text-field "nome"/>
        <f.text-field "mnemonico"/>
        <f.text-field "descricao"/>

        <f.submit "Salvar" />
      </div>
    </div>
  </div>
</FormFor>

