<h2>Edita marca</h2>

<Marcas::MarcasForm @model={{model}} @redirectTo= "redirectTo" />

{{!-- {{ marcas/marcas-index
  model="model"
  deleteMarca="deleteMarca"
  redirectTo=(action "redirectTo")
}} --}}
