<h2>Criar nova marca</h2>
{{!-- https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/closure-actions.md --}}

{{marcas/marcas-form 
  model=model
}}
{{!-- redirectTo=(action "redirectTo") --}}
