{{#if @model}}
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Nome:
    </label>
    <div class="col-sm-6">
      <Input @type="text" @value={{@model.nome}} class="form-control" placeholder="Unidade atendimento" autofocus/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" {{on "click" (fn this.save @model)}}>
        Salvar
      </button>
    </div>
  </div>
</div>
{{else}}
Regsitro não Encontrado
{{/if}}
