{{!- TODO: Refatorar inteiro, componentizar tudo -}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <LinkTo @route="index" class="navbar-brand">Lisweb</LinkTo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="mr-auto navbar-nav">
      <li class="nav-item active">
        <LinkTo @route="labs" class="nav-link">Labs <span class="sr-only">(página atual)</span></LinkTo>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/grupo_centro_custos">Grupos de Centros de Custo</a>
          <a class="dropdown-item" href="/centro_custos">Centros de Custo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/categoria_produtos">Categorias de Produto</a>
          <a class="dropdown-item" href="/unidade_medidas">Unidades Entrada/Saída</a>
          <a class="dropdown-item" href="/marcas">Marcas</a>
          <a class="dropdown-item" href="/tipo_produtos">Tipos de Produto</a>
          <a class="dropdown-item" href="/unidade_atendimentos">Unidades de Atendimento</a>
          <a class="dropdown-item" href="/contas">Contas (Caixa e Bancárias)</a>
          <a class="dropdown-item" href="/conta_contabeis">Plano de Contas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tipo_pessoas">Tipos de Pessoa</a>
          <a class="dropdown-item" href="/pessoas">Pessoas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lançamentos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Central de Lançamentos</a>
          <a class="dropdown-item" href="lancamentos">Lançamentos</a>
          <a class="dropdown-item" href="chave_nfses">NFSe</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movimentações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/requisicao_materiais">Requisição de Materiais</a>
          <a class="dropdown-item" href="/atendimento_requisicoes">Atendimento a Solicitações dos Setores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lista de Compras</a>
          <a class="dropdown-item" href="/orcamentos">Orçamentos</a>
          <a class="dropdown-item" href="#">Elaboração de Pedidos</a>
          <a class="dropdown-item" href="#">Pedidos</a>
          <a class="dropdown-item" href="#">Recebimentos de Pedidos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Pendências de Recebimento</a>
          <a class="dropdown-item" href="#">Outras Movimentações</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administração
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Configurações</a>
          <a class="dropdown-item" href="#">Outra ação</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cadastro de Parâmetros NFSe</a>
          <a class="dropdown-item" href="#">Cadastro de Grupo de Parâmetros NFSe</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Relatório Estoque</a>
          <a class="dropdown-item" href="#">Relatório Financeiro</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
