<Ac::Inputs::Cnpj @label='CNPJ:' />


<h1>TODO da Aplicação</h1>

<ul>
  <li>Definir o Adapter da aplicação (Ricardo vai enviar modelo)</li>
  <li>Definir authenticator</li>
  <li>Definir serializer</li>
  <li>Criar tela de login funcional (não visual)</li>
  <li>Criar um primeiro model para testar a autenticação e serialização com o retaguarda</li>
  <li>Criar tela principal com menu (web designer ou algum padrão?)</li>
  <li><strike>Importar componentes da Acras aqui</strike></li>
</ul>
