<h1>Marcas</h1>

<div class="well">
  <ul class="nav nav-pills">
    <LinkTo @route="about">About</LinkTo>
    <linkTo @route='marcas.index' tagName="li" >Marcas</linkTo>
    {{#link-to 'marcas.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
